NextSoftR2/Presentation Tier/Delfin.Principal/Service References/IntegrationService/IntegradorSBO3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.103.13:768/Soap/IntegradorSBO.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IntegrationServicesRest" />
  <xs:element name="InsertarActualizarServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsServicio" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IntegrationServicesRest" minOccurs="0" name="InsertarActualizarServicioResult" nillable="true" type="q1:ArrayOfRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarSocioNegocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsCliente" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarSocioNegocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IntegrationServicesRest" minOccurs="0" name="InsertarActualizarSocioNegocioResult" nillable="true" type="q2:ArrayOfRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarReferencias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsReferencias" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarReferenciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IntegrationServicesRest" minOccurs="0" name="InsertarActualizarReferenciasResult" nillable="true" type="q3:ArrayOfRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarJournalEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsJournalEntry" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarJournalEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IntegrationServicesRest" minOccurs="0" name="InsertarActualizarJournalEntryResult" nillable="true" type="q4:ArrayOfRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarInvoiceBills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsInvoiceBills" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarInvoiceBillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IntegrationServicesRest" minOccurs="0" name="InsertarActualizarInvoiceBillsResult" nillable="true" type="q5:ArrayOfRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarCreditMemo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsCreditMemo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarCreditMemoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IntegrationServicesRest" minOccurs="0" name="InsertarActualizarCreditMemoResult" nillable="true" type="q6:ArrayOfRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarPurchaseInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsPurchaseInvoice" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarPurchaseInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IntegrationServicesRest" minOccurs="0" name="InsertarActualizarPurchaseInvoiceResult" nillable="true" type="q7:ArrayOfRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarPurchaseCreditMemo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PurchaseCreditMemo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarPurchaseCreditMemoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IntegrationServicesRest" minOccurs="0" name="InsertarActualizarPurchaseCreditMemoResult" nillable="true" type="q8:ArrayOfRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>