OutlookAddIn.Customizations/Service References/AppService/DelfinService55.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Application.BusinessEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="COM_Det_Cotizacion_OV_EventosTareas_BE">
    <xs:sequence>
      <xs:element minOccurs="0" name="AUDI_FecCrea" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AUDI_FecMod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AUDI_UsrCrea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUDI_UsrMod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CCOT_Numero" type="xs:int" />
      <xs:element minOccurs="0" name="CCOT_Tipo" type="xs:short" />
      <xs:element minOccurs="0" name="CONS_CodMOD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONS_TabMOD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EVEN_Cumplida" type="xs:boolean" />
      <xs:element minOccurs="0" name="EVEN_Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EVEN_Item" type="xs:short" />
      <xs:element minOccurs="0" name="EVEN_Manual" type="xs:boolean" />
      <xs:element minOccurs="0" name="EVEN_Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EVEN_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_CodEVE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_TabEVE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="COM_Det_Cotizacion_OV_EventosTareas_BE" nillable="true" type="tns:COM_Det_Cotizacion_OV_EventosTareas_BE" />
</xs:schema>