Application.UserInterface/Service References/IntegrationService/IntegradorSBO43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.103.13:768/Soap/IntegradorSBO.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/IntegrationServicesRest" />
  <xs:element name="InsertarActualizarServicio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsServicio" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarServicioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IntegrationServicesRest" minOccurs="0" name="InsertarActualizarServicioResult" nillable="true" type="q1:ArrayOfRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarSocioNegocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsCliente" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarSocioNegocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IntegrationServicesRest" minOccurs="0" name="InsertarActualizarSocioNegocioResult" nillable="true" type="q2:ArrayOfRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarReferencias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsReferencias" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarActualizarReferenciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IntegrationServicesRest" minOccurs="0" name="InsertarActualizarReferenciasResult" nillable="true" type="q3:ArrayOfRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>