ExcelAddIn.Customizations/Service References/AppService/DelfinService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DelfinService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:38230/DelfinService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:38230/DelfinService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:38230/DelfinService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:38230/DelfinService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDelfinService_ExecuteSQL_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSQL" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_ExecuteSQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSQLResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_ExecuteSQLNonQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSQLNonQuery" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_ExecuteSQLNonQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteSQLNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_GetActiveDirectoryObjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveDirectoryObjects" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_GetActiveDirectoryObjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveDirectoryObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_UserValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:UserValidation" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_UserValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_GenerateVoucher_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateVoucher" />
  </wsdl:message>
  <wsdl:message name="IDelfinService_GenerateVoucher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateVoucherResponse" />
  </wsdl:message>
  <wsdl:portType name="IDelfinService">
    <wsdl:operation name="ExecuteSQL">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/ExecuteSQL" message="tns:IDelfinService_ExecuteSQL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/ExecuteSQLResponse" message="tns:IDelfinService_ExecuteSQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLNonQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/ExecuteSQLNonQuery" message="tns:IDelfinService_ExecuteSQLNonQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/ExecuteSQLNonQueryResponse" message="tns:IDelfinService_ExecuteSQLNonQuery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveDirectoryObjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/GetActiveDirectoryObjects" message="tns:IDelfinService_GetActiveDirectoryObjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/GetActiveDirectoryObjectsResponse" message="tns:IDelfinService_GetActiveDirectoryObjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/UserValidation" message="tns:IDelfinService_UserValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/UserValidationResponse" message="tns:IDelfinService_UserValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateVoucher">
      <wsdl:input wsaw:Action="http://tempuri.org/IDelfinService/GenerateVoucher" message="tns:IDelfinService_GenerateVoucher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDelfinService/GenerateVoucherResponse" message="tns:IDelfinService_GenerateVoucher_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDelfinService" type="tns:IDelfinService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteSQL">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/ExecuteSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLNonQuery">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/ExecuteSQLNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveDirectoryObjects">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/GetActiveDirectoryObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserValidation">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/UserValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateVoucher">
      <soap:operation soapAction="http://tempuri.org/IDelfinService/GenerateVoucher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DelfinService">
    <wsdl:port name="BasicHttpBinding_IDelfinService" binding="tns:BasicHttpBinding_IDelfinService">
      <soap:address location="http://localhost:38230/DelfinService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>